<head>
<style>
a:link {color:#00FF00;}      
a:visited {color:#A52A2A;}  
a:hover {color:#9ACD32;}  
a:active {color:#7FFF00;}  
body {
		background-color:#000000;
	} 
h2 { color:#FFFFFF;}
h1 { color:#FFD700;}
</style>
</head>
<h1>LEARN DYNAMIC PROGRAMMING</h1>
<ul>
    <h2> 1.INTRODUCTION TO DYNAMIC PROGRAMMING </h2>
	<br>
	<li><%= link_to "Overlapping Subproblem" , "http://www.geeksforgeeks.org/dynamic-programming-set-1/" %></li>
	<li><%= link_to "Optimal Substructure" , "http://www.geeksforgeeks.org/dynamic-programming-set-2-optimal-substructure-property/" %></li>
	<li><%= link_to "DP Explaineed" , "https://community.topcoder.com/tc?module=Static&d1=features&d2=040104" %></li>	
	<li><%= link_to "Problem" , "http://www.codechef.com/problems/SEARRAYS" %></li>	
</ul>
<ul>
	<h2> 2.LONGEST INCREASING SUBSEQUENCE </h2>
	<br>
	<li><%= link_to "LIS Introduction" , "http://www.geeksforgeeks.org/dynamic-programming-set-3-longest-increasing-subsequence/" %></li>
	<li><%= link_to "Video Tutorial" , "http://www.youtube.com/watch?v=U-xOVWlcgmM" %></li>
	<li><%= link_to "Dicussion" , "http://stackoverflow.com/questions/2631726/how-to-determine-the-longest-increasing-subsequence-using-dynamic-programming" %></li>
	<li><%= link_to "Problem" , "http://www.codechef.com/problems/LISA" %></li>	
</ul>
<ul>
	<h2> 3.COIN CHANGE </h2>
	<br>
	<li><%= link_to "Coin Change Introduction" , "http://www.geeksforgeeks.org/dynamic-programming-set-7-coin-change/" %></li>
	<li><%= link_to "Video Tutorial" , "http://www.youtube.com/watch?v=GafjS0FfAC0" %></li>
	<li><%= link_to "Discussion" , "http://stackoverflow.com/questions/2633848/dynamic-programming-coin-change-decision-problem" %></li>
	<li><%= link_to "Problem" , "http://www.codechef.com/problems/CHANGE" %></li>	
</ul>
<ul>
	<h2> 4.0-1 KNAPSACK </h2>
	<br>
	<li><%= link_to "0-1 Knapsack Introduction" , "http://www.geeksforgeeks.org/dynamic-programming-set-10-0-1-knapsack-problem/" %></li>
	<li><%= link_to "Video Tutorial" , "http://www.youtube.com/watch?v=EH6h7WA7sDw" %></li>
	<li><%= link_to "Discussion" , "http://stackoverflow.com/questions/11036689/solving-the-integer-knapsack" %></li>
	<li><%= link_to "Problem" , "http://www.codechef.com/problems/PPTEST/" %></li>	
</ul>
<ul>
	<h2> SUMMARY </h2>
	<br>
	<li><%= link_to "From Novice to Advanced" , "http://www.topcoder.com/tc?d1=tutorials&d2=dynProg&module=Static" %></li>	
</ul>